a {
    background-color: cornflowerblue;
    color: beige;
    padding: 15px;
    text-decoration: none;
    border-radius: 5px;
}

a:visited {
    background-color: rgb(43, 86, 226);
}

a:hover {
    padding: 20px;
    background-color: black;
}

a:active {
    background-color: #444;
}